.noteContainer {
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  background-color: #ffffff0b;

  margin: 1rem 0;
  padding: 1rem;
}

.noteContainer h2 {
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.noteContainer p {
  margin-bottom: 1rem;
}

.edit {
  cursor: pointer;

  border: none;
  border-radius: 4px;
  padding: 0.3rem;

  background: #fee282;

  text-transform: uppercase;
}
